<div class="bd">
			
    <div class="cont inicio">

        <p class="pagina_logo">
            <img class="logo_img" width="240" height="60" src="../../assets/educacion.jpg" alt="logo">
        </p>
 
    
        <p class="pagina-item">
            <a class="pagina-enter-btn Button" [routerLink]="['/galeria']" routerLinkActive="router-link-active" >Entrar a Educacine</a>
        </p>
        <div class="s_text">
            <h1 class="s_text-h1">Educacine</h1>
            <h2 class="s_text-h2">Disfruta de los mejores contenidos audiovisuales educativos.</h2>
            <p>Es la mejor página para <strong><a [routerLink]="['/galeria']" >ver contenido educativo</a></strong> solo necesitas de conexión a internet para disfrutar de cientos de contenidos educativos, películas, series y documentales.</p>
            <p>En <strong><a [routerLink]="['/galeria']">Educacine</a></strong> nos encontramos en etapa beta, sin embargo se espera que para el 2023 nuestra página siga creciendo de manera de que nuestros usuarios tengan la mejor experiencia en cuanto a contenido audiovisual educativo se refiere de manera <strong>gratis y para todas las edades</strong></p>
            <p>En nuestra página te encontrarás<strong>con el mejor contenido HD</strong> solo tienes que crear una cuenta de usuario y empieza a disfrutar. <strong><a [routerLink]="['/registro']">Registrate!</a></strong></p>
        </div>
    </div>


</div>
